##### calculating various statistics around the read counts per individual and per plate

In [1]:
import numpy as np
import pandas as pd

In [2]:
base = "/afs/crc.nd.edu/group/BesanskyNGS/data05/comp_karyo/data/amplicon_sequencing/"

##### read in read counts file, as generated with the shell script

In [3]:
counts = pd.read_csv(base + "no_pilot_data_output/file_read_range.txt", sep="\t",
                    header=None, names = ["file", "lines", "reads"])

counts.head()

                                      file   lines   reads
0  GTseq_003_GTseq-i5_01_Plate2_A01.fastq       96      24
1  GTseq_003_GTseq-i5_02_Plate2_B01.fastq      272      68
2  GTseq_003_GTseq-i5_03_Plate2_C01.fastq       28       7
3  GTseq_003_GTseq-i5_04_Plate2_D01.fastq   802124  200531
4  GTseq_003_GTseq-i5_05_Plate2_E01.fastq   534640  133660

In [4]:
np.sum(~(counts["reads"] == counts["lines"] / 4))

0

In [5]:
np.mean(counts["reads"])

246153.09895833334

In [6]:
np.median(counts["reads"])

239741.5

In [7]:
np.std(counts["reads"])

86583.46670984835

In [8]:
np.mean(counts[3:]["reads"])

246924.6353187043

In [9]:
np.median(counts[3:]["reads"])

239785.0

In [10]:
np.std(counts[3:]["reads"])

85613.73399369082

##### dropping the three empty wells that were used for technical validation

In [11]:
counts_trimmed = counts[3:]

counts_trimmed.shape

(957, 3)

In [12]:
np.mean(counts_trimmed["reads"])

246924.6353187043

In [13]:
np.median(counts_trimmed["reads"])

239785.0

In [14]:
np.std(counts_trimmed["reads"])

85613.73399369082

##### read in the per plates file, as generated by the shell script

In [15]:
plates = pd.read_csv(base + "no_pilot_data_output/plate_read_range.txt", sep="\t",
                    header=None, names = ["plate", "lines", "reads"])

plates

      plate      lines     reads
0   Plate1    83222836  20805709
1  Plate10    89858664  22464666
2   Plate2    70014936  17503734
3   Plate3    99891552  24972888
4   Plate4   103125628  25781407
5   Plate5    87633796  21908449
6   Plate6   110226116  27556529
7   Plate7   103702368  25925592
8   Plate8   109195112  27298778
9   Plate9    88356892  22089223

In [16]:
plates.sort_values("reads")

      plate      lines     reads
2   Plate2    70014936  17503734
0   Plate1    83222836  20805709
5   Plate5    87633796  21908449
9   Plate9    88356892  22089223
1  Plate10    89858664  22464666
3   Plate3    99891552  24972888
4   Plate4   103125628  25781407
7   Plate7   103702368  25925592
8   Plate8   109195112  27298778
6   Plate6   110226116  27556529